/* * {

  
  padding: 5px;
  background-image: linear-gradient(to right, #00b4db, #0083b0);
} */


.player {
  width: 240px;
  height: 180px;
  margin: 50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}


.player:nth-child(2) {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.winner {
  width: 100px;
  height: 55px;
  margin: 10px auto;
  color: brown;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.player-image {
  height: 200px;
  width: auto;
}
button {
  width: 200px;
  height: 50px;
  display: block;
  margin: 10px auto;
  color: #fff;
  font-size: 18px;
  border-radius: 25px;
  background: #000;
  outline: none;
}

button:hover {
  cursor: pointer;
}

img { 
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
} 



img:hover { 
  animation: Shake 0.5s linear infinite; 
} 

/*Using keyframes for shaking an image*/
@keyframes Shake { 
  0% { 
      transform: rotate(5deg); 
  } 

  25% { 
      transform: rotate(-6deg); 
  } 

  50% { 
      transform: rotate(5deg); 
  } 

  75% { 
      transform: rotate(-6deg); 
  } 

  100% { 
      transform: rotate(5deg); 
  } 
}


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: #2d2a3d;
  color: #fff;
  font-family: "Poppins";
}
.message {
  margin: 5em 0 2em;
  text-align: center;
}
.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 200px;
}
.computer img,
.player img {
  width: 75%;
}
.shakeComputer {
  animation: shakeComputer 0.8s linear;
}
.shakePlayer {
  animation: shakePlayer 0.8s linear;
}
.points {
  margin: 2em 0;
  text-align: center;
}
.computerPoints {
  margin-left: 3em;
}
.playerPoints {
  margin-right: 3em;
}
.options {
  margin-top: 5em;
  display: flex;
  justify-content: space-around;
}
.options button {
  background: none;
  color: #ecdada;
  font-family: "Poppins";
  border: 1px solid #fff;
  padding: 1em 2em;
  border-radius: 7px;
  width: 150px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  transition: 0.2s all linear;
}
.options button:hover {
  background-color: darkcyan;
  border: 1px solid darkcyan;
}
@keyframes shakeComputer {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shakePlayer {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.message {
  margin: 5em 0 2em;
  text-align: center;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 200px;
  margin-top: 100px;
}

.points {
  margin-top: 200px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.options
{
  margin-bottom: 40px;
}

button:hover{

  transition: 0.2s all linear;
  background-color: rgb(26, 170, 103);


}



.message
{
  font-size: 40px;
  margin-top: 20px;
  color: rgb(15, 224, 224);

}

.Result {
  margin: 5em 0 2em;
  text-align: center;
}

.Result {
  margin: 5em 0 2em;
  text-align: center;
}

.Result
{
  font-size: 50px;
  margin-top: 20px;
  color: rgb(212, 197, 212);

}




.options .weaponBtn {
  
  background: none;
  color: #fff;
  font-family: "Poppins";
  border: 1px solid #fff;
  padding: 1em 2em;
  border-radius: 7px;
  width: 150px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  transition: 0.2s all linear;
}